.navbar__container {
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFFF;
  width: 100%;
  padding: 12px 0% 12px 5%;
}
.navbar__container .topbar__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar__container .topbar__container .logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: 1em;
  color: #08A6E4;
  word-spacing: -8px;
}
.navbar__container .topbar__container .nav__checkbox {
  display: none;
}
.navbar__container .topbar__container .nav__toggle {
  cursor: pointer;
  margin-right: 5%;
}
.navbar__container .topbar__container .nav__toggle .closedmenu {
  display: none;
}
.navbar__container .topbar__container .nav__options {
  list-style-type: none;
  display: none;
  position: absolute;
  margin-top: 180px;
  background-color: #FFFFFF;
  left: -5%;
  width: 105%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1607843137);
}
.navbar__container .topbar__container .nav__options .nav__list {
  padding: 8px 5%;
}
.navbar__container .topbar__container .nav__options .nav__list .nav__list__a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.205em;
  font-size: 0.688em;
  line-height: 0.4054em;
  align-content: center;
  text-decoration: none;
  color: #A5A5A5;
}
.navbar__container .topbar__container .nav__options .nav__list .nav__list__a:hover {
  color: #000000;
  font-style: normal;
}

#nav__checkbox:checked ~ ul.nav__options {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .closedmenu {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .openmenu {
  display: none;
}

@media (min-width: 1000px) {
  .navbar__container .topbar__container {
    display: flex;
  }
  .navbar__container .topbar__container .logo {
    word-spacing: normal;
    width: 100%;
  }
  .navbar__container .topbar__container .nav__toggle {
    display: none;
  }
  .navbar__container .topbar__container .nav__options {
    display: flex;
    justify-content: space-between;
    position: static;
    border: none;
    bottom: 27px;
    margin-top: 0;
    width: 100%;
  }
  .navbar__container .topbar__container .nav__options .nav__list {
    padding: 0;
  }
  .navbar__container .topbar__container .nav__options .nav__list .nav__list__a {
    padding: 0% 50px;
  }
  .navbar__container .topbar__container .nav__list__a:hover {
    padding-bottom: 17px;
    border-bottom: 3px solid #08A6E4;
    font-weight: bold;
    color: #000000;
  }
}
.sales {
  margin-top: 150px;
  position: relative;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
.sales .sales__title {
  font-size: 1.875em;
  font-weight: 400;
  line-height: 2.568em;
}
.sales .sales__description {
  font-weight: 400;
  text-align: center;
  font-size: 0.875em;
  padding-bottom: 28px;
}

.button__shop {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
  border-radius: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.375em;
  color: #FFFFFF;
  padding: 22px 91px 23px 92px;
  border: none;
}

.sales__backgroundm {
  padding-top: 51px;
}

.sales__backgroundd {
  display: none;
}

.sales__background {
  width: 100%;
}

.sales__container .sales__phrase {
  font-family: "Raleway", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  padding-bottom: 70px;
  width: 80%;
  margin-left: 10%;
}

.sales__img__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sales__img__container .sales__img {
  padding-top: 5%;
}

@media (min-width: 1000px) {
  .sales .sales__title {
    margin-bottom: -35px;
    font-size: 3.063em;
    line-height: 3.563em;
  }
  .sales .sales__description {
    padding: auto;
    font-size: 1em;
    line-height: 1.375em;
  }
  .sales .button__shop {
    width: 25%;
  }
  .sales .sales__backgroundm {
    display: none;
  }
  .sales .sales__backgroundd {
    display: block;
  }
  .sales .sales__img__container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 18%;
  }
}
.products {
  display: block;
  position: relative;
  background-color: #F7F7F7;
  font-family: "Raleway", sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
}
.products .products__container {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 50px 5%;
  text-align: left;
}
.products .products__container .products__list {
  display: flex;
  position: relative;
}
.products .products__container .products__list .products__foreground {
  margin: auto;
  width: 60%;
  z-index: 1;
  margin-top: 50px;
}
.products .products__container .products__description {
  display: block;
  margin: 30px 15%;
}
.products .products__container .products__description .products__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
}
.products .products__container .products__description .products__text {
  font-family: "Open Sans", sans-serif;
  padding-top: 25px;
  font-size: 0.875em;
  font-weight: 400;
  width: 100%;
}
.products .products__container .products__description .products__line {
  display: none;
  border: 2px solid;
  margin-top: 40px;
  width: 75%;
}
.products .products__first .products__background {
  position: absolute;
  width: 30%;
  right: 17%;
  top: 30px;
}
.products .products__second .products__background {
  position: absolute;
  width: 45%;
  left: 20%;
  top: 40px;
}
.products .products__third {
  background-color: #F7F7F7;
  border-radius: 5px;
  border: 1px solid #E8E9ED;
}
.products .products__third .products__foreground.i {
  position: absolute;
  width: 85%;
}
.products .products__third .products__background {
  width: 100%;
}

@media (min-width: 1000px) {
  .products .products__container {
    display: flex;
  }
  .products .products__container .products__list {
    width: 100%;
  }
  .products .products__container .products__description {
    margin: 50px 15% 90px 5%;
  }
  .products .products__container .products__description .products__title {
    padding-top: 50px;
    font-size: 2.25em;
  }
  .products .products__container .products__description .products__text {
    margin-top: 5px;
    font-size: 1em;
  }
  .products .products__container .products__description .products__line {
    display: block;
  }
  .products .products__container .products__description .products__red {
    border-color: #FB3B64;
  }
  .products .products__container .products__description .products__blue {
    border-color: #08A6E4;
  }
  .products .products__container .products__description .products__cyan {
    border-color: #55DFB4;
  }
  .products__container.first {
    display: flex;
    flex-direction: row-reverse;
  }
  .products__container.third {
    background-color: #F7F7F7;
  }
  .products__container.third .products__third {
    padding: 0;
    background-color: #F7F7F7;
    border: 0;
    width: 100%;
  }
  .products__container.third .products__third .products__foreground.i {
    width: 50%;
    top: 40px;
    left: 25%;
  }
  .products__container.third .products__description {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 2% 0 0;
    padding: 12px 15% 3px 5%;
    background-color: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    justify-content: center;
  }
  .products__container.third .products__description .products__line {
    margin-bottom: 90px;
  }
}
.conditions {
  display: block;
  position: relative;
}
.conditions .pricing__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
  margin-bottom: -30px;
}
.conditions .pricing__box {
  display: block;
}
.conditions .pricing__box .pricing__container {
  display: flex;
  position: relative;
  align-items: center;
  margin: 60px 8%;
  left: 0;
  width: 80%;
  height: 400px;
}
.conditions .pricing__box .pricing__container .pricing__category {
  margin-left: 10%;
  text-align: center;
}
.conditions .pricing__box .pricing__container .pricing__category .pricing__rate {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: #13253B;
}
.conditions .pricing__box .pricing__container .pricing__category .pricing__ammount {
  font-family: "Open Sans", sans-serif;
  font-size: 2.875em;
  font-weight: 300;
}
.conditions .pricing__box .pricing__container .pricing__category .pricing__offer {
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  color: #13253B;
}
.conditions .pricing__box .pricing__container .pricing__dates {
  position: absolute;
  right: 38%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: #000000;
  width: 50%;
}
.conditions .pricing__box .pricing__container .pricing__dates .pricing__info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 80%;
  padding: 10px 0;
}
.conditions .pricing__box .pricing__container .pricing__dates .pricing__info .pricing__check {
  border: 1px solid #55DFB4;
  border-radius: 2px;
  width: 10%;
  margin-right: 5%;
}
.conditions .pricing__box .pricing__container .pricing__dates .pricing__info .pricing__negative {
  border: 1px solid #FB3B64;
  border-radius: 2px;
  width: 10%;
  margin-right: 5%;
}
.conditions .pricing__box .pricing__container .pricing__button .button {
  display: block;
  position: absolute;
  left: 35%;
  bottom: -25px;
  width: 35%;
  height: 50px;
  color: #FFFFFF;
  border-radius: 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.813em;
  line-height: 1.106em;
  font-weight: 700;
}
.conditions .pricing__box .pricing__container:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.conditions .pricing__box .pricing__container:not(:hover) {
  transition: all 0.5s;
}
.conditions .pricing__box .pricing__container.red {
  border: 1px solid #FB3B64;
  border-radius: 25px;
}
.conditions .pricing__box .pricing__container.red .pricing__ammount {
  color: #FB3B64;
}
.conditions .pricing__box .pricing__container.red .button__red {
  border: 1px solid #EB476E;
  background: #EB476E;
}
.conditions .pricing__box .pricing__container.red .button__red:hover {
  background-color: #FA1E4E;
}
.conditions .pricing__box .pricing__container.red:hover {
  box-shadow: 5px 10px 14px #FA1E4E;
}
.conditions .pricing__box .pricing__container.blue {
  border: 1px solid #08A6E4;
  border-radius: 25px;
}
.conditions .pricing__box .pricing__container.blue .pricing__ammount {
  color: #08A6E4;
}
.conditions .pricing__box .pricing__container.blue .button__blue {
  border: 1px solid #08A6E4;
  background: #08A6E4;
}
.conditions .pricing__box .pricing__container.blue .button__blue:hover {
  background-color: #078fc5;
}
.conditions .pricing__box .pricing__container.blue:hover {
  box-shadow: 5px 10px 14px #078fc5;
}
.conditions .pricing__box .pricing__container.cyan {
  border: 1px solid #55DFB4;
  border-radius: 25px;
}
.conditions .pricing__box .pricing__container.cyan .pricing__ammount {
  color: #55DFB4;
}
.conditions .pricing__box .pricing__container.cyan .button__cyan {
  border: 1px solid #55DFB4;
  background: #55DFB4;
}
.conditions .pricing__box .pricing__container.cyan .button__cyan:hover {
  background-color: #29d69f;
}
.conditions .pricing__box .pricing__container.cyan:hover {
  box-shadow: 5px 10px 14px #29d69f;
}

@media (min-width: 1000px) {
  .conditions .pricing__title {
    margin-bottom: 0px;
  }
  .conditions .pricing__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 10%;
  }
  .conditions .pricing__box .pricing__container {
    left: 0;
    top: 30px;
    flex-direction: column;
    height: 460px;
    margin: 20px 2%;
  }
  .conditions .pricing__box .pricing__container .pricing__category {
    margin: 40px 0;
  }
  .conditions .pricing__box .pricing__container .pricing__dates {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    right: 25%;
    width: 100%;
  }
  .conditions .pricing__box .pricing__container .pricing__dates .pricing__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
  }
  .conditions .pricing__box .pricing__container .pricing__dates .pricing__info .pricing__check {
    width: 5%;
    margin-right: 5%;
  }
  .conditions .pricing__box .pricing__container .pricing__dates .pricing__info .pricing__negative {
    width: 5%;
    margin-right: 5%;
  }
}
.communication {
  display: block;
  position: relative;
  margin-top: 80px;
  margin-left: 8%;
}
.communication .contact__question {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #000000;
  padding-bottom: 10px;
}
.communication .contact__answer {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.communication .contact__data {
  margin-top: 40px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #A5A5A5;
}
.communication .contact__data .contact__email {
  display: flex;
  padding-bottom: 10px;
}
.communication .contact__data .contact__email .contact__icon {
  margin-right: 3%;
}
.communication .contact__data .contact__phone {
  display: flex;
}
.communication .contact__data .contact__phone .contact__icon {
  margin-right: 3%;
}
.communication .contact__form {
  font-family: "Open Sans", sans-serif;
  font-size: 0.688em;
  font-weight: 600;
  color: #08A6E4;
  margin-top: 60px;
  letter-spacing: 0.205em;
}
.communication .contact__form .clientname {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #95989A;
  min-width: 87%;
  margin: 40px 0;
  outline: none;
}
.communication .contact__form .clientemail {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #95989A;
  min-width: 87%;
  margin-top: 40px;
  outline: none;
}
.communication .contact__form .client__text:focus {
  border-color: #08A6E4;
}
.communication .contact__form .contact__information {
  display: flex;
  margin-top: 20px;
  width: 85%;
}
.communication .contact__form .contact__information .checkbox {
  margin-right: 4%;
  width: 5%;
  height: 24px;
}
.communication .contact__form .contact__information .textcheck {
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-size: 1.202em;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  margin-top: -5px;
}
.communication .contact__form .contact__information .button__submit {
  display: flex;
  position: relative;
  justify-content: center;
  cursor: pointer;
  left: 35%;
  margin: 30px 30px 30px 0px;
  background-color: #08A6E4;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 35px;
  width: 70%;
  height: 57px;
  border: none;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.communication .contact__form .contact__information .button__submit:hover {
  background-color: #078fc5;
}

@media (min-width: 1000px) {
  .communication {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .communication .contact__init {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -200px;
    margin-left: 10%;
  }
  .communication .contact__init .contact__question {
    font-size: 3.063em;
  }
  .communication .contact__init .contact__answer {
    padding-top: 15px;
  }
  .communication .contact__init .contact__data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #A5A5A5;
    margin-left: -13%;
  }
  .communication .contact__init .contact__data .contact__email {
    width: 30%;
  }
  .communication .contact__init .contact__data .contact__email .contact__icon {
    margin-right: 5%;
  }
  .communication .contact__init .contact__data .contact__phone {
    width: 30%;
    padding-bottom: 10px;
  }
  .communication .contact__init .contact__data .contact__phone .contact__icon {
    margin-right: 5%;
  }
  .communication .contact__form {
    margin-left: 0%;
  }
  .communication .contact__form .clientname {
    min-width: 70%;
  }
  .communication .contact__form .clientemail {
    min-width: 70%;
  }
  .communication .contact__form .contact__information .textcheck {
    width: 70%;
  }
}
.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1607843137);
  margin-top: 30px;
  padding: 30px;
}
.footer .footer__information {
  width: 100%;
  padding-left: 3%;
}
.footer .footer__information .logo__footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.625em;
  line-height: 1em;
  color: #08A6E4;
  word-spacing: -6px;
}
.footer .footer__information .footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.688em;
  font-style: normal;
  font-weight: 400;
  line-height: 0.938em;
  color: #A5A5A5;
  padding-top: 5px;
}
.footer .social__media {
  display: flex;
  width: 40%;
  margin-right: 10%;
  justify-content: end;
}
.footer .social__media .facebook {
  padding: 0 60%;
}

@media (min-width: 1000px) {
  .footer .footer__information .logo__footer {
    word-spacing: normal;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100%;
}

/*# sourceMappingURL=style.css.map */
