@use "variables";
.communication {
    display: block;
    position: relative;
    margin-top: 80px;
    margin-left: 8%;
    .contact__question {
        font-family: variables.$font-family-title;
        font-size: 2.5em;
        font-weight: 400;
        color: variables.$black-color;
        padding-bottom: 10px;
    }
    .contact__answer {
        font-family: variables.$font-family-text;
        font-size: 1em;
        font-weight: 400;
    }
    .contact__data {
        margin-top: 40px;
        width: 100%;
        font-family: variables.$font-family-text;
        font-size: 1em;
        font-weight: 600;
        color: variables.$grey-color;
        .contact__email {
            display: flex;
            padding-bottom: 10px;
            .contact__icon {
                margin-right: 3%;
            }
        }
        .contact__phone {
            display: flex;
            .contact__icon {
                margin-right: 3%;
            }
        }
    }
    .contact__form {
        font-family: variables.$font-family-text;
        font-size: 0.688em;
        font-weight: 600;
        color: variables.$blue-color;
        margin-top: 60px;
        letter-spacing: 0.205em;
        .clientname {
            display: block;
            border-top: none;
            border-right: none;
            border-left: none;
            border-color: variables.$grey-color-input;
            min-width: 87%;
            margin: 40px 0;
            outline: none;
        }
        .clientemail {
            display: block;
            border-top: none;
            border-right: none;
            border-left: none;
            border-color: variables.$grey-color-input;
            min-width: 87%;
            margin-top: 40px;
            outline: none;
        }
        .client__text:focus {
            border-color: variables.$blue-color;
        }
        .contact__information {
            display: flex;
            margin-top: 20px;
            width: 85%;
            .checkbox {
                margin-right: 4%;
                width: 5%;
                height: 24px;
            }
            .textcheck {
                color: variables.$grey-color-conditions;
                font-family: variables.$font-family-text;
                font-size: 1.202em;
                line-height: 1.400em;
                font-weight: 400;
                letter-spacing: normal;
                margin-top: -5px;
            }
            .button__submit {
            display: flex;
            position: relative;
            justify-content: center;
            cursor: pointer;
            left: 35%;
            margin: 30px 30px 30px 0px;
            background-color: variables.$blue-color;
            color: variables.$white-color;
            font-family: variables.$font-family-text;
            font-size: 0.900em;
            font-weight: 700;
            border-radius: 35px;
            width: 70%;
            height: 57px;
            border: none;
            box-shadow: 5px 10px 14px variables.$blue-color-shadow;
            }
            .button__submit:hover {
                background-color: variables.$blue-color-hover
            }
        }
    }
}
@media (min-width: 1000px) {
    .communication {
        display: flex;
        justify-content: center;
        align-items: center;
        .contact__init {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: -200px;
            margin-left: 10%;
            .contact__question {
                font-size: 3.063em;
            }
            .contact__answer {
                padding-top: 15px;
            }
            .contact__data {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-family: variables.$font-family-text;
                font-size: 1em;
                font-weight: 600;
                color: variables.$grey-color;
                margin-left: -13%;
                .contact__email {
                    width: 30%;
                    .contact__icon {
                        margin-right: 5%;
                    }
                }
                .contact__phone {
                    width: 30%;
                    padding-bottom: 10px;
                    .contact__icon {
                        margin-right: 5%;
                    }
                }
            }
        }
        .contact__form {
            margin-left: 0%;
            .clientname {
                min-width: 70%;
            }
            .clientemail {
                min-width: 70%;
            }
            .contact__information {
                .textcheck {
                    width: 70%;
                }
            }
        }
    }
}