    $font-family-text: "Open Sans", sans-serif;
    $font-family-title: "Raleway", sans-serif;
    $white-color: #FFFFFF;
    $black-color: #000000;
    $black-color-shadow: #000002;
    $blue-color: #08A6E4;
    $blue-color-shadow: #07ace64a;
    $blue-color-category: #13253B;
    $blue-color-hover: #078fc5;
    $grey-color: #A5A5A5;
    $grey-color-background: #F7F7F7;
    $grey-color-border: #E8E9ED;
    $grey-color-input: #95989A;
    $grey-color-conditions: #707070;
    $red-color: #FB3B64;
    $red-color-pricing: #EB476E; 
    $red-color-hover: #fa1e4e;
    $cyan-color: #55DFB4;
    $cyan-color-hover: #29d69f;
    $green-color: #55DFB4;
